* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(32, 33, 36);
}

.center {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center > img {
    width: 300px;
}

.center > input {
    width: 30vw;
    background-color: rgb(32, 33, 36);
    border: 1px solid #666666;
    border-radius: 25px;
    height: 50px;
    margin: 30px;
    padding: 5px;
    padding-left: 20px;
    font-size: 17px;
}

.center-buttons > button {
    height: 40px;
    width: 120px;
    background-color: rgb(48, 49, 52);
    border: 1px solid rgb(30, 31, 33);
    border-radius: 5px;
}

.center-buttons > button:hover {
    border-color: #666666;
}

.nums {
    display: flex;
    flex-direction: column;
}